$colorFondo: linear-gradient(to bottom right, #ffccb3, #ffffb3);
$centrado: center;
$fuente:  Cambria, Cochin, Georgia;
$fuenteSmall: 18px;
$fuenteMedium: $fuenteSmall + 10;
$colorFuente:  rgb(158, 90, 90);